
@import "tailwindcss";

@theme {
  --color-oxfam-creme: #EAEADE;
  --color-oxfam-jaune: #FBC43A;
  --color-oxfam-rose: #DA0146;
  --color-oxfam-vert-fonce: #336114;
  --color-oxfam-vert: #44841A;
}

/* enlever affichage barre progression de mobile quand c'est en desktop */
.texte-desktop {
  display: none;
}



/* Styles desktop pour PC (360px et plus) */
@media screen and (min-width: 360px){





.max-w-xl {
  max-width: 60rem;
}

  body {
    padding-left: 8.33%;
    padding-right: 8.33%;
  }

  .p-4 {
    padding: 1.5rem;
  }

  .space-y-4 > * + * {
    margin-top: 1.5rem;
  }

  .gap-2 {
    gap: 1rem;
  }

  .gap-4 {
    gap: 1.5rem;
  }

  .nav-etapes-texte {
    font-size: 1rem;
  }
}



@media screen and (min-width: 630px){

  .texte-mobile {
    display: none;
  }

  .texte-desktop {
    display: inline;
  }

  .nav-etapes-texte{
    font-size: xx-small;
  }

}