@import "tailwindcss";

@theme {
  --color-oxfam-creme: #EAEADE;
  --color-oxfam-jaune: #FBC43A;
  --color-oxfam-rose: #DA0146;
  --color-oxfam-vert-fonce: #336114;
  --color-oxfam-vert: #44841A;
}

.html .body {
  width: 100%;
  height: 100%;
}

/* affichage body complet */
body {
  font-family: "Nunito Sans", sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


  background: linear-gradient(-45deg, #000000, #EAEADE, #336114,#44841A);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}


h1 {
  font-size: 2rem;
  font-weight: 800;
}

/* pour le Titre principal */
legend.font-bold.text-2xl {
  font-size: 1.75rem;
}

/* Titres d'étape */
legend.font-bold:not(.text-2xl) {
  font-size: 1.50rem;
  font-weight: 600;
}

/* Sous-titres */
label {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Labels de champs */

.titre-principal {
  letter-spacing: -0.02em;
  font-weight: 800;



}

/* enlever affichage barre progression de mobile quand c'est en desktop */
.texte-desktop {
  display: none;
}





/* rendre les hover "smooth" */
button,
label,
input {
  transition: background-color 0.2s ease, color 0.2s ease;
}




/* Styles desktop pour PC (360px et plus) */
@media screen and (min-width: 360px) {

  .fieldset-type-don {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .max-w-xl {
    max-width: 100rem;
  }

  body {
    padding-left: 8.33%;
    padding-right: 8.33%;
  }

  .p-4 {
    padding: 1.5rem;
  }

  .space-y-4>*+* {
    margin-top: 1.5rem;
  }

  .gap-2 {
    gap: 1rem;
  }

  .gap-4 {
    gap: 1.5rem;
  }

  .nav-etapes-texte {
    font-size: 1rem;
  }
}



@media screen and (min-width: 630px) {

  .texte-mobile {
    display: none;
  }

  .texte-desktop {
    display: inline;
  }

  .nav-etapes-texte {
    font-size: xx-small;
  }

}